{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "prettier"],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "rules": {
        "semi": [1, "never"],
        "semi-spacing": [
            2,
            {
                "before": false,
                "after": true
            }
        ],
        "quotes": [1, "double", { "avoidEscape": true }],
        "arrow-spacing": [1, { "before": true, "after": true }],
        "prefer-template": [1],
        "prefer-destructuring": [2, { "object": true, "array": false }]
    }
}
